* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    line-height: 2rem;
    color: whitesmoke;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    color: whitesmoke;
    line-height: 1.5rem;
}

.cover {
    background: url(assets/ocean.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: table;
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.text {
    width: 95%;
    padding: 1rem 1.25rem;
    line-height: 2rem;
}

@media (min-width: 768px) {
    .text {
       width: 70%; 
    }
}

body {
    position: relative;
}

.languages {
    position: absolute;
    top: 10px;
    right: 10px;
}

ul {
    text-decoration: none;
}

nav a {
    display: inline-block;
} 

nav a:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%);
}